*{
	font-family: "Courier-New",monospace;
	font-size: 20px;
}

html{
	scroll-behavior: smooth;
}


body{
	background-color: skyblue;
}

h1{
	font-size: 30px; 
}


#learn-bootcamp{
	text-transform: uppercase;
}

.lang-learn{
	background-color: red;
}

[class|=tools-use] {
  background: yellow;
  margin: 5px;
}

h3 + img{
	height: 200px;
	width: 200px;
	border-radius: 150px;
}

h3 ~ p{
	text-align: center;
}

div>ol{
	letter-spacing: 10px;
}